* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%; }

body {
  font-size: 2.5rem; }

header {
  background-image: linear-gradient(rgba(102, 166, 255, 0.5), rgba(102, 166, 255, 0.5)), url(/data/img/adventure-cold-cross-country-skiing-dawn-416728--smaller.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*
    COLOR SCHEME (Monochromatic)
    hsl(215,100%,70%) - greyblue sky
    hsl(215,100%,50%) - darker sky blue
    hsl(215,100%,25%) - dark sky blue
    hsl(0,100%,0%)- black
    hsl(0,100%,100%)- white
    */ }

.top-nav {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 100; }

.layout-container {
  width: 100%;
  height: 100%;
  display: flex; }

.side-menu {
  flex: 0 0 7%;
  background-color: white;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 7.5rem;
  z-index: 50; }

.products {
  height: 100%;
  width: 100%; }

/*
    COLOR SCHEME (Monochromatic)
    hsl(215,100%,70%) - greyblue sky
    hsl(215,100%,50%) - darker sky blue
    hsl(215,100%,25%) - dark sky blue
    hsl(0,100%,0%)- black
    hsl(0,100%,100%)- white
    */
header .hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  header .hero-content__btn-area {
    position: relative; }
    header .hero-content__btn-area #display-content {
      opacity: 0;
      visibility: hidden; }
    header .hero-content__btn-area #display-content:checked ~ label {
      opacity: 0;
      visibility: hidden; }
    header .hero-content__btn-area #display-content:checked ~ .hidden-btns {
      opacity: 1;
      visibility: unset; }
    header .hero-content__btn-area .hidden-btns {
      opacity: 0;
      visibility: hidden; }
      header .hero-content__btn-area .hidden-btns a,
      header .hero-content__btn-area .hidden-btns a:link,
      header .hero-content__btn-area .hidden-btns a:visited {
        padding: 1rem 2rem;
        background-color: aliceblue;
        border-radius: 3rem;
        cursor: pointer;
        text-decoration: none;
        color: black; }
      header .hero-content__btn-area .hidden-btns a:hover {
        background-color: #8ac8ff; }

/*////////////////////////////////////////
             HEADER BUTTONS
*/
.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 3rem; }
  .btn-cta--disappearing {
    background-color: aliceblue;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%); }

/*////////////////////////////////////////
             NAVIGATION
*/
.top-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.top-nav a {
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  padding: 3rem; }
  .top-nav a:not(:last-of-type) {
    margin-right: 2rem; }

.side-menu__list {
  display: flex;
  flex-direction: column; }
  .side-menu__list .list-item {
    text-decoration: none;
    padding: 1rem 3rem;
    color: #003580; }
    .side-menu__list .list-item--active {
      background-color: #003580;
      color: white;
      text-decoration: none;
      padding: 1rem 3rem;
      margin-bottom: 1rem; }
    .side-menu__list .list-item:not(:last-of-type) {
      margin-bottom: 1rem; }

/*////////////////////////////////////////
             CARD CONTAINER
*/
.row--flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: lightskyblue; }
  .row--flex:not(:last-of-type) {
    margin-bottom: 5%; }

/*////////////////////////////////////////
             PRODUCT CARDS
*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0.2rem 0.4rem 0.8rem black;
  box-shadow: 0px 0rem 4rem rgba(0, 0, 0, 0.15);
  height: 60rem;
  width: 45rem;
  background-color: #66a6ff;
  padding: 3rem; }
  .card > * {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem; }
  .card select {
    border-radius: 2px; }
  .card__top {
    height: 5%;
    align-items: center; }
  .card__center {
    position: relative;
    height: 50%;
    width: 100%; }
    .card__center .card__size-warning {
      border-radius: 3px;
      height: 100%;
      width: 100%;
      opacity: 0.7;
      position: absolute;
      background-color: black;
      visibility: hidden;
      opacity: 0; }
      .card__center .card__size-warning p {
        font-size: 3rem;
        color: orangered;
        position: absolute;
        top: 45%;
        left: 20%;
        text-align: center;
        font-weight: bold; }
    .card__center .card__image {
      height: 100%;
      border-radius: 3px; }
  .card__bottom {
    height: 35%;
    flex-direction: column;
    /*////////////////////////////////////////
             CARD - CLOTHES VER.
*/
    /*////////////////////////////////////////
             CARDS - SHOES VER.
*/
    /*
    COLOR SCHEME (Monochromatic)
    hsl(215,100%,70%) - greyblue sky
    hsl(215,100%,50%) - darker sky blue
    hsl(215,100%,25%) - dark sky blue
    hsl(0,100%,0%)- black
    hsl(0,100%,100%)- white
    */ }
    .card__bottom .card__price {
      display: flex;
      margin-bottom: 1.5rem;
      justify-content: center; }
    .card__bottom div[class*="card__size-selector--"] select {
      background-color: #003580; }
      .card__bottom div[class*="card__size-selector--"] select option {
        min-width: 2.5rem; }
    .card__bottom .card__size-selector--clothes {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.5rem;
      align-items: center; }
      .card__bottom .card__size-selector--clothes input {
        display: none; }
      .card__bottom .card__size-selector--clothes input:checked + label {
        box-shadow: 2px 0px 3px black inset;
        background-color: #cfcfcf; }
      .card__bottom .card__size-selector--clothes .size-tile {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0 .5rem;
        min-width: 3.25rem;
        height: 4rem;
        background-color: whitesmoke;
        box-shadow: 2px 2px 3px black;
        border-radius: 3px;
        cursor: pointer; }
        .card__bottom .card__size-selector--clothes .size-tile:not(:first-of-type) {
          margin-left: .7rem; }
        .card__bottom .card__size-selector--clothes .size-tile--not-properly-chosen {
          background-color: orangered !important; }
      .card__bottom .card__size-selector--clothes .quantity {
        margin-left: auto; }
      .card__bottom .card__size-selector--clothes select {
        font-size: 1.8rem;
        border: none;
        outline: none;
        color: #e6e6e6;
        padding: .5rem;
        margin-left: auto; }
    .card__bottom .card__size-selector--shoes,
    .card__bottom .card__size-selector--sizeless {
      flex: 0 0 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem; }
      .card__bottom .card__size-selector--shoes label,
      .card__bottom .card__size-selector--sizeless label {
        font-size: 2.5rem;
        padding: 0 .5rem; }
      .card__bottom .card__size-selector--shoes select,
      .card__bottom .card__size-selector--sizeless select {
        font-size: 1.8rem;
        border: none;
        outline: none;
        color: #e6e6e6;
        padding: .5rem;
        margin-right: auto;
        margin-left: .5rem; }
      .card__bottom .card__size-selector--shoes .size-dropdown--not-properly-chosen,
      .card__bottom .card__size-selector--sizeless .size-dropdown--not-properly-chosen {
        background-color: orangered !important; }
    .card__bottom .card__size-selector--sizeless {
      justify-content: center; }
    .card__bottom .card__description {
      font-size: 2rem;
      min-height: 33%;
      overflow-y: auto;
      line-height: 1.4;
      margin-bottom: 1.5rem; }
    .card__bottom .card__btn-area {
      display: flex; }
      .card__bottom .card__btn-area [class*="btn--"] {
        border: none;
        padding: 1rem;
        border-radius: 3px;
        cursor: pointer; }
        .card__bottom .card__btn-area [class*="btn--"]:focus {
          outline: none; }
      .card__bottom .card__btn-area .btn--buy {
        color: white;
        background-color: #003580; }
      .card__bottom .card__btn-area .btn--add-cart {
        background-color: white;
        color: #003580; }

/*////////////////////////////////////////
             MINI CART
*/
.cart {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 10%);
  background-color: white;
  border-radius: 3px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 3px black; }
  .cart__num-items {
    color: white;
    position: absolute;
    font-size: 1.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: .5rem;
    right: .5rem;
    background-color: red;
    border-radius: 50%;
    padding: .25rem;
    height: 2.25rem;
    width: 2.25rem;
    visibility: hidden; }
  .cart__icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem; }

/*////////////////////////////////////////
             CHECKOUT OVERLAY
*/
.checkout {
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7); }
  .checkout__item-display {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    height: 50rem;
    width: 50rem;
    border-radius: .5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column; }
    .checkout__item-display .checkout__purchase-form {
      height: 100%;
      width: 100%;
      background-color: white;
      position: absolute;
      visibility: hidden; }
      .checkout__item-display .checkout__purchase-form .purchase-form__back-btn {
        display: flex;
        height: 5rem;
        width: 5rem;
        background-color: unset;
        border: 2px solid black;
        border-radius: 3px;
        position: absolute;
        right: 0%;
        cursor: pointer; }
        .checkout__item-display .checkout__purchase-form .purchase-form__back-btn::after {
          content: "";
          background-image: url("../data/img/back-arrow.svg");
          background-size: 4rem 4rem;
          background-repeat: no-repeat;
          background-position: center top;
          height: 5rem;
          width: 5rem; }
      .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        padding: 5rem; }
        .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group {
          margin-bottom: 2.25rem;
          display: flex;
          width: 100%; }
          .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group [class*=input-group__item]:not(:last-of-type) {
            margin-right: 2rem; }
          .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group [class*=input-group__item] input {
            font-size: 2rem;
            width: 100%; }
          .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group [class*=input-group__item] label {
            display: block;
            font-size: 1.6rem;
            margin-bottom: 0.8rem; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group [class*=input-group__item] label:not(:last-of-type) {
              margin-right: 2rem; }
          .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group [class*=input-group__item] input, .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group [class*=input-group__item] select {
            background-color: unset;
            border: none;
            border: 1px solid #0f0f0f;
            height: 3.5rem; }
          .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item {
            display: flex;
            flex-direction: column;
            width: 100%; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item--3-of-4 {
              width: 75%; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item--1-of-4 {
              width: 25%; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item--1-of-2 {
              width: 50%; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item .card-inputs__cardholder {
              width: 100%; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item .card-inputs__expiry-month,
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item .card-inputs__expiry-year {
              margin-right: 2rem; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item .card-inputs__email {
              width: 50%; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item .card-inputs__security-code {
              width: 25%;
              text-align: center; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item input:invalid {
              border: 1px solid inset orangered; }
            .checkout__item-display .checkout__purchase-form .purchase-form__card-inputs .input-group .input-group__item input:focus {
              background-color: unset; }
      .checkout__item-display .checkout__purchase-form .purchase-form__purchase-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 1rem 0;
        font-size: 1.6rem;
        background-color: #003580;
        color: white; }
    .checkout__item-display .checkout__heading {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .checkout__item-display .checkout__heading .checkout__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        font-size: 3.5rem;
        color: black;
        height: 5rem;
        width: 5rem;
        background-color: red;
        cursor: pointer; }
        .checkout__item-display .checkout__heading .checkout__close-btn::before {
          content: "X"; }
      .checkout__item-display .checkout__heading .checkout__checkout-btn {
        margin-left: 10rem;
        margin-right: auto;
        border: none;
        padding: 1rem;
        border-radius: 3px;
        cursor: pointer;
        color: white;
        background-color: #003580; }
      .checkout__item-display .checkout__heading [disabled] {
        background-color: grey; }
      .checkout__item-display .checkout__heading .checkout__total {
        font-weight: bold;
        margin-right: 5rem; }
    .checkout__item-display .display-row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 10rem; }
      .checkout__item-display .display-row:not(:last-of-type) {
        border-bottom: .1rem solid black; }
      .checkout__item-display .display-row__thumbnail {
        max-height: 5rem;
        width: 5rem;
        object-fit: contain; }
      .checkout__item-display .display-row__name {
        width: 20rem;
        font-size: 2rem; }
      .checkout__item-display .display-row__remove-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        background-color: red;
        border-radius: 3px;
        font-size: 2rem;
        color: black;
        height: 3rem;
        width: 3rem;
        cursor: pointer; }
        .checkout__item-display .display-row__remove-btn::before {
          content: "x"; }
