* {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}

html {
    font-size: 62.5%; //1rem = 10px;
    box-sizing: border-box;
    min-height:100%;
}

body {
    font-size:2.5rem;
}