    /*
    COLOR SCHEME (Monochromatic)
    hsl(215,100%,70%) - greyblue sky
    hsl(215,100%,50%) - darker sky blue
    hsl(215,100%,25%) - dark sky blue
    hsl(0,100%,0%)- black
    hsl(0,100%,100%)- white
    */

header {
    .hero-content {
        position:absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);

        &__textbox {
            .main {

            }
        }

        &__btn-area {
            position:relative;
            #display-content {
                opacity:0;
                visibility:hidden;
            }
            #display-content:checked ~ label {
                opacity:0;
                visibility: hidden;
            }
            #display-content:checked ~  .hidden-btns{
                opacity:1;
                visibility:unset;
            }
            .hidden-btns {
                opacity:0;
                visibility:hidden;
                a,
                a:link,
                a:visited {
                    padding: 1rem 2rem;
                    background-color:aliceblue;
                    border-radius:3rem;
                    cursor: pointer;
                    text-decoration:none;
                    color:black;
                }
                a:hover {
                    background-color: darken(aliceblue,20%);
                }

            }
        }
    }


}


/*////////////////////////////////////////
             HEADER BUTTONS
*/////////////////////////////////////////
.btn {
    cursor: pointer;
    padding:1rem 2rem;
    border-radius: 3rem;
    &-cta {


        &--disappearing {
            background-color:aliceblue;
            position:absolute;
            top:2rem; //puts it over top the hidden buttons
            left:50%;
            transform:translateX(-50%);
        }

    }

    
}

/*////////////////////////////////////////
             NAVIGATION
*/////////////////////////////////////////

.top-nav {
    &__list {
        list-style:none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }

    a {
        margin-right:2rem;
        text-decoration: none;
        color:white;
        padding:3rem;
        

        &:not(:last-of-type) {
            margin-right:2rem;
        }
    }
}

.side-menu {
    &__list {
       // margin-top:100%; // moves out of header's way
        display:flex;
        flex-direction: column;

         .list-item {
        
            text-decoration: none;
            padding:1rem 3rem;
            color: hsl(215,100%,25%);
    
    
            &--active {
                background-color:hsl(215,100%,25%);;
                color:white;
                text-decoration: none;
                padding:1rem 3rem;
                margin-bottom:1rem;
            }
            &:not(:last-of-type) {
                margin-bottom:1rem;
            }
        }
    }


}

/*////////////////////////////////////////
             CARD CONTAINER
*/////////////////////////////////////////
.row--flex {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    background-color:lightskyblue;//testing
    &:not(:last-of-type) {
        margin-bottom: 5%;
    }
}

/*////////////////////////////////////////
             PRODUCT CARDS
*/////////////////////////////////////////

.card {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: .2rem .4rem .8rem rgba(0,0,0,1);
    box-shadow:0px 0rem 4rem rgba(0, 0, 0, 0.15) ;
    height:60rem;
    width:45rem;
    background-color:hsl(215,100%,70%); // #8ac8ff testing;
    
    padding:3rem;

    > * {
        display:flex;
        justify-content:space-evenly;
        margin-bottom:1.5rem;
        
    }

    select {
        border-radius: 2px;
        
    }



    &__top {
        height:5%;
        align-items: center;
    }

    &__center {
        position:relative;
        height:50%;
        width:100%;
        .card__size-warning {
            border-radius:3px;
            height: 100%;
            width: 100%;
            opacity:0.7;
            position:absolute;
            background-color:black;
            visibility:hidden;
            opacity:0;
            p {
                font-size:3rem;
                color:orangered;
                position:absolute;
                top: 45%;
                left:20%;
                text-align:center;
                font-weight: bold;
            }
        }
        .card__image {
            height:100%;
            border-radius:3px;
        }
    }

    &__bottom {
        height:35%;
        flex-direction:column;
        .card__price {
            display:flex;
            margin-bottom:1.5rem;
            justify-content:center;
        }
        div[class*="card__size-selector--"] {

            select {
                background-color: hsl(215, 100%, 25%);

                option {
                    
                    min-width:2.5rem; //prevents flex item movement when selecting double digits.
                    
                }
            }
        }

/*////////////////////////////////////////
             CARD - CLOTHES VER.
*/////////////////////////////////////////

        .card__size-selector--clothes {
            display:flex;
            flex-direction:row;
            margin-bottom: 1.5rem;
            align-items:center;
            input {
                display:none;
            }
            input:checked + label {
                //color:white;
                box-shadow: 2px 0px 3px black inset;
                background-color: darken(whitesmoke, 15%);

            }

            

            .size-tile {
                justify-content: center;
                align-items:center;
                display:flex;
                padding: 0 .5rem;
                min-width:3.25rem;
                height:4rem;
                background-color:whitesmoke;
                box-shadow: 2px 2px 3px black;
                border-radius:3px;
                cursor:pointer;
                &:not(:first-of-type) {
                    margin-left:.7rem;
                }

                &--not-properly-chosen {
                    background-color:orangered !important;
                }
            }

            .quantity {
                margin-left:auto;
            }

            select {
                font-size:1.8rem;
                border:none;
                outline:none;
                color:hsla(0, 0%, 90%,1);
                padding:.5rem;
                margin-left:auto;
            }


        }

/*////////////////////////////////////////
             CARDS - SHOES VER.
*/////////////////////////////////////////        
        .card__size-selector--shoes,
        .card__size-selector--sizeless {
            flex: 0 0 15%;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
            margin-bottom:1.5rem;
            label {
                font-size:2.5rem;
                padding: 0 .5rem;
            }
            select {
                font-size:1.8rem;
                border:none;
                outline:none;
                color:hsla(0, 0%, 90%,1);
                padding:.5rem;
                margin-right:auto;
                margin-left:.5rem;
                
            }

            .size-dropdown--not-properly-chosen {
                background-color: orangered !important; 
                
            }

        
            
        }

        .card__size-selector--sizeless {
            justify-content:center;

        }

        .card__description {
            font-size:2rem;
            min-height:33%;
            overflow-y:auto;
            line-height:1.4;
            margin-bottom:1.5rem;
        }
    /*
    COLOR SCHEME (Monochromatic)
    hsl(215,100%,70%) - greyblue sky
    hsl(215,100%,50%) - darker sky blue
    hsl(215,100%,25%) - dark sky blue
    hsl(0,100%,0%)- black
    hsl(0,100%,100%)- white
    */
        .card__btn-area {
            display:flex;

            [class *= "btn--"] {
                border:none;
                padding: 1rem;
                border-radius: 3px;
                cursor: pointer;

                &:focus {
                    outline:none;
                }
            }

            .btn--buy {
                color:white;
                background-color:hsl(215,100%,25%)
            }
    
            .btn--add-cart {
                background-color: white;
                color: hsl(215,100%,25%);
            }
            
        }


    }

}

/*////////////////////////////////////////
             MINI CART
*/////////////////////////////////////////

.cart { //all the positioning attributes are testing
    position:absolute;
    cursor:pointer;
    bottom:0;
    right:50%;
    transform:translate(50%, 10%);
    background-color:white;
    border-radius: 3px;
    padding:2rem;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    box-shadow:2px 2px 3px black;

    &__num-items {
        color:white;
        position:absolute;
        font-size:1.8rem;
        display:inline-flex;
        justify-content: center;
        align-items: center;
        top:.5rem;
        right:.5rem;
        background-color:red;
        border-radius:50%;
        padding: .25rem;
        height:2.25rem;
        width:2.25rem;
        visibility: hidden;
    }

    &__icon {
        height: 3rem;
        width:3rem;
        margin-left:1rem;
    }
}

/*////////////////////////////////////////
             CHECKOUT OVERLAY
*/////////////////////////////////////////

.checkout {
    min-height:100%;
    width:100%;
    position:absolute;
    z-index:100;
    visibility: hidden; 

    background-color:hsla(0,100%,0%,.7);

    &__item-display {
        position:absolute;
        top:50%;
        left:50%;
        background-color:white;

        transform: translate(-50%,-50%);
        height:50rem;
        width:50rem;
        border-radius:.5rem;
        overflow-y:auto;
        display:flex;
        flex-direction:column;

        .checkout__purchase-form {
            height:100%;
            width:100%;
            background-color:white;
            position:absolute;
            visibility:hidden;

            .purchase-form__ {
                &back-btn {
                    display:flex;
                    height:5rem;
                    width:5rem;
                    background-color:unset;
                    border:2px solid black;
                    border-radius:3px;
                    position:absolute;
                    right:0%;
                    cursor:pointer;
                    &::after {
                        content: "";
                        
                        background-image:url( "../data/img/back-arrow.svg");
                        background-size: 4rem 4rem;
                        background-repeat:no-repeat;
                        background-position:center top;
                        height:5rem;
                        width:5rem;
                    }
                }

                &card-inputs {
                    margin-top:4rem;
                    display:flex; 
                    flex-direction: column;
                    padding:5rem;


                    .input-group {
                        margin-bottom:2.25rem;
                        display:flex;
                        //change the color once the user clicks off, not while typing
                        width:100%;
                        [class*=input-group__item] {
                            &:not(:last-of-type) {
                                margin-right:2rem;
                            }
                            input {
                                font-size:2rem;
                                width:100%;
                            }
    
                            label {
                                display:block;
                                &:not(:last-of-type) {
                                    margin-right:2rem;
                                }
                                font-size:1.6rem;
                                margin-bottom:0.8rem;
    
                            }

                            input,select {
                                background-color:unset;
                                border:none;
                                border: 1px solid hsl(0, 0%, 6%);
                                height:3.5rem;

                                

                            }
                            input:valid,
                            select:valid { 
                                border: 1px solid  green;
                                background-color:hsl(120,100%,80%);
                            }

                            input:focus{
                                background-color:unset;
                            }

                        }

                        .input-group__item {
                            
                            &--3-of-4 {
                                width:75%;
                            }

                            &--1-of-4 {
                                width:25%;
                            }

                            &--1-of-2 {
                                width:50%;
                            }
                            display:flex;
                            flex-direction: column;
                            width:100%;

                            .card-inputs__cardholder {
                                width:100%;
                            }

                            .card-inputs__expiry-month,
                            .card-inputs__expiry-year{
                                margin-right:2rem;
                            }
                            .card-inputs__email {
                                width:50%;
                            }
                            .card-inputs__security-code {
                                width:25%;
                                text-align: center;
    
                            }
    
                        }


                    }


    
          
                }
            &purchase-btn {
                background:none;
                border:none;
                cursor:pointer;
                padding: 1rem 0;
                font-size:1.6rem;
                background-color:hsla(215,100%,25%,100%);
                color:white;

            }

            &purchase-btn[disabled] {
                background-color:grey;
            }

            &required-text {
                font-size:1.4rem;
                margin-bottom: 2rem;
            }

            }

        }

        .checkout__thank-you {
            visibility:hidden;
            position:absolute;
            height:100%;
            width:100%;

            p {
                margin-top:50%;
                text-align:center;
                transform:translateY(-50%);
                font-size:7rem;
            }
        }

        .checkout__heading {
            display:flex;
            align-items:center;
            justify-content: flex-end;


            .checkout__close-btn {
                display:flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                font-size:3.5rem;
                color: black;
                height:5rem;
                width:5rem;
                background-color:red;
                
                cursor:pointer;
    
                &::before {
                    content:"X"
                }
            }

            .checkout__checkout-btn {
                margin-left:10rem;
                margin-right:auto;
                border:none;
                padding: 1rem;
                border-radius: 3px;
                cursor: pointer;
                color:white;
                background-color:hsl(215,100%,25%)

            }

            [disabled] {
                background-color:grey;
            }

            .checkout__total {
                font-weight:bold;
                margin-right:5rem;
            }
            
        }

        .display-row {
            display:flex;
            justify-content: space-evenly;
            align-items:center;
            height:10rem;
            &:not(:last-of-type) {
                border-bottom: .1rem solid black;
            }
            &__thumbnail {
                max-height:5rem;
                width:5rem;
                object-fit:contain; // maintain width without image distortion
            }
            &__name {
                width:20rem;
                font-size:2rem;
            }

            &__remove-btn {
                display:flex;
                justify-content: center;
                align-items: center;
                justify-self: flex-end;
                background-color:red;
                border-radius: 3px;
                font-size:2rem;
                color: black;
                height:3rem;
                width:3rem;
                cursor:pointer;

                &::before {
                    content:"x";
                }
            }
        }



    }
}

