header {
    background-image:linear-gradient(hsla(215,100%,70%,0.5), hsla(215,100%,70%,0.5)), url(/data/img/adventure-cold-cross-country-skiing-dawn-416728--smaller.jpg);
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;

    /*
    COLOR SCHEME (Monochromatic)
    hsl(215,100%,70%) - greyblue sky
    hsl(215,100%,50%) - darker sky blue
    hsl(215,100%,25%) - dark sky blue
    hsl(0,100%,0%)- black
    hsl(0,100%,100%)- white
    */
}

.top-nav {
    //display: none;// TESTING 
    display:flex;
    position:fixed;
    width:100%;
    flex-direction:row;
    justify-content: space-evenly;
    z-index:100;
}
.layout-container {
    width:100%;
    height:100%;
    
    display:flex;
}

.side-menu {
 flex: 0 0 7%;
 background-color:white;
 min-height:100vh;
 flex-direction:column;
 padding-top:7.5rem;
 z-index:50;
}

.products {
    
    height:100%;
    width:100%;
}

