<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%style%}

        <title>E-Commerce Store</title>
    </head>

    <body>
        <header>
            <div class ="hero-content"> 
                <div class="hero-content__textbox">
                    <h1 class="main">Don't let the cold stop you.</h1>
                </div>

                <div class="hero-content__btn-area">
                    <input type="checkbox"  id="display-content" name="display-content" autocomplete="off"/> <!-- Prevents firefox from automaticallly saving the btn state. This shows the shop btn-->
                    <label class="btn btn-cta--disappearing" for="display-content">Shop</label>
                    <div class="hidden-btns">
                        <a href = "/store?category=coats">Coats</a>
                        <a href = "/store?category=gloves">Gloves</a>
                        <a href = "/store?category=hats">Hats</a>
                        <a href = "/store?category=scarves">Scarves</a>
                        <a href = "/store?category=boots">Boots</a>
                    </div>
                </div>



            </div>

            

        </header>
    </body>
</html>