<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%style%}

        <title>E-Commerce Store</title>
    </head>
    <body>
        <div class = "layout-container">
            <nav class="side-menu">
                <ul class = "side-menu__list">
                    <a class = "list-item" href ="?category=coats">Coats</a> 
                    <a class = "list-item" href ="?category=gloves">Gloves</a> 
                    <a class = "list-item" href ="?category=hats">Hats</a> 
                    <a class = "list-item" href ="?category=scarves">Scarves</a> 
                    <a class = "list-item" href ="?category=boots">Boots</a> 
                </ul>
            </nav>

            <div class = "products">
                 {%rows%}         
                 <div class = "cart" id = "cart">
                    <span class = cart__total id = "cart__total">$0.00</span>
                    <span class = "cart__num-items" id = "cart__num-items">0</span>
                    <img class = "cart__icon" src = "data/img/cart-sharp.svg">
                </div>   
            </div>
            <div class="checkout">
                <div class="checkout__item-display">
    
                    <div class="checkout__heading">
                        <button type = button class = "checkout__checkout-btn" disabled>Checkout</button>
                        <span class = "checkout__total">$0</span>
                        <span class = "checkout__close-btn"></span>
                    </div>
    
                    <div class="checkout__purchase-form">
                        <button class="purchase-form__back-btn" type = "button"></button>
                        <form class = "purchase-form__card-inputs" id = "card-details">
                            <div class = "input-group">
                                <div class="input-group__item">
                                    <label for = "card-inputs__name">Cardholder </label>
                                    <input required type = "text" minlength = "3" maxlength = "24" placeholder = "3-24 letters" class = "card-inputs__cardholder" id = "card-inputs__cardholder">
                                </div>
    
                            </div>
                            <div class="input-group">
                                <div class = "input-group__item--3-of-4">
                                    <label for = "card-inputs__card-number">Card Number</label>
                                    <input required type = "text" inputmode = "decimal" pattern = "[0-9]{15,16}" placeholder = "15-16 digits" minlength = "15" maxlength = "16"class = "card-inputs__card-number" id = "card-inputs__card-number">
    
                                </div>
                                <div class="input-group__item--1-of-4">
                                    <label for ="card-inputs__security-code" >CVV</label>
                                    <input required type = "text" inputmode = "decimal"  pattern = "[0-9]{3,4}" placeholder = "3-4 digits" minlength = "3" maxlength ="4" class = "card-inputs__security-code" id = "card-inputs__security-code">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group__item--1-of-2">
                                    <label>Expiration</label>
                                    <select required class = "card-inputs__expiry-month">
                                        <option value = "">--Month--</option>
                                        <option value="01">January</option>
                                        <option value="02">February </option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select required class = "card-inputs__expiry-year">
                                        <option value = "">--Year--</option>
                                        <option value="20"> 2020</option>
                                        <option value="21"> 2021</option>
                                        <option value="22"> 2022</option>
                                        <option value="23"> 2023</option>
                                        <option value="24"> 2024</option>
                                        <option value="25"> 2025</option>
                                    </select>
                                </div>
                                    <div class="input-group__item--1-of-2">
                                        <label for ="card-inputs__email">E-mail</label>
                                        <input required type = "email" inputmode = "email"class = "card-inputs__email" id = "card-inputs__email">
                                    </div>
                            </div>
      
                                <!-- <div class = "image-group">
                                    <img src = "/data/img/visa-thumb.jpg" alt ="visa accepted">
                                    <img src = "/data/img/amex-thumb.jpg" alt ="american express accepted">
                                    <img src = "/data/img/mastercard-thumb.jpg" alt ="mastercard accepted">
                                </div> 
                            
                            
    <span style='font-size:3rem;'>&#128525;</span>
                                -->
                                <p class = "purchase-form__required-text">All fields are required.</p>
                                <button type = "button" class = "purchase-form__purchase-btn">Purchase</button>
                            </form>
    
                            </div>
    
                            <div class="checkout__thank-you">
                                <p>
                                    Thank you!
                                    <br><img src = "/data/img/emoji-blow-kiss.png">
                                </p>
                            </div>
                </div>
    
    
                    <!--
                        <div class="display-row">
                            <img class =display-row__thumbnail src = "data/img/coats/coat-man-1-thumb.jpg"></img>
                            <p class = "display-row__name">Snowbound - L</p>
                            <p class = "display-row__price">$69.99</p>
                            <p class = "display-row__quantity">4</p>
                            <span class ="display-row__remove-btn"></span>                    
                        </div>
                    -->
                </div>
            
        </div>
    </body>
    <script src = "store.js"></script>
</html>