<div class="card" data-sizeType="" id="{%id%}">

    <div class="card__top">
        <div class="card__name">
            {%name%}
        </div>
    </div>

    <div class="card__center">
            <img class="card__image" src = "data/img/{%image%}">
    </div>

    <div class="card__bottom">
        <div class="card__price">
            {%price%}
        </div>

        <div class = "card__size-selector--sizeless"> 
            


            <label for = "quantity" class = "quantity">Qty  
            <select name = "quantity" class = "quantity__selector">
                <option value = "1" selected>1</option>
                <option value = "2">2</option>
                <option value = "3">3</option>
                <option value = "4">4</option>
                <option value = "5">5</option>
                <option value = "6">6</option>
                <option value = "7">7</option>
                <option value = "8">8</option>
                <option value = "9">9</option>
                <option value = "10">10</option>
            </select>
            </label>
            
        </div>

        <div class="card__description">
            {%description%}
        </div>

        <div class = "card__btn-area">
            <button type ="button" class = "btn--add-cart" >Add To Cart</button>
            <button type ="button" class = "btn--buy">Buy Now</button>
        </div>
    </div>

</div>